.container {
  display: flex;
  width: 1408px;
  height: 4512px;
  margin: 0px;
  flex-direction: column;
}


.header {
  display: flex;
  width: 1408px;
  height: 200px;
  flex-direction: column;
  background-image: url(../image/fhx.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.key1 {
  display: flex;
  height: 42px;
  background-color: hsla(0, 0%, 100%, .4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  padding: 0 160px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.key1 .left,
.key1 .right {
  display: flex;
  align-items: center;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  transition: .3s;
  cursor: pointer;
}

li a:hover {
  background-color: rgb(180, 200, 200);

}

.dp {
  background-color: palevioletred;
  border-radius: 10%;
}


.key2 {
  display: flex;
  height: 128px;
}

.ui {
  position: absolute;
  left: 800px;
  margin-top: 73px;
  height: 30px;
  width: 70px;
  border-radius: 9%;
  writing-mode: lr-tb;
  background-color: white;
  color: palevioletred;
  font-size: 15px;
  text-align: center;
  text-align-last: center;
}

.ug {
  position: absolute;
  left: 880px;
  margin-top: 73px;
}

.content {
  width: 1000px;
  height: 7700px;
  margin-left: 160px;
  margin-right: 160px;
}

a {

  color: black;
  text-decoration: none;
  font-size: 12px;
}

.sf {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.footer {

  width: 1308px;
  height: 172px;
  background-color: azure;

}

.fir {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 224px;
  margin-top: 15px;
}

.dsd {
  width: 443px;
  height: 224px;
  background-image: url(../image/one.jpg);
  border-radius: 3%;


}

.er {
  display: flex;
  flex-direction: column;
}

.totul {
  display: flex;
  justify-content: space-between;
  width: 530px;
  height: 110px;
  margin-left: 10px;
}

.dsa {
  width: 165px;
  height: 105px;
  background-image: url(../image/3.png);
  border-radius: 3%;
  margin-left: 10px;
  cursor: pointer;
}

.dsa:hover .dsa-flex-container {
  opacity: 1;
}

.dsa-flex-container {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  transition: .3s;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px;
}

.dsa .dsa-flex-container .first {
  font-size: 16px;
  flex-grow: 1;
  color: #fff;
  margin: 0;
}

.dsa .dsa-flex-container .second {
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  color: #99a2aa;
  margin: 0;
}

.dsb {
  width: 165px;
  height: 105px;
  background-image: url(../image/h.jpg);
  border-radius: 3%;
  margin-left: 10px;
  cursor: pointer;
}

.dsb:hover .flex-container1,
.dsc:hover .flex-container1,
.dsg:hover .flex-container1,
.dsh:hover .flex-container1,
.dsj:hover .flex-container1 {
  opacity: 1;
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: .3s;
  opacity: 0;
}

.first1 {

  font-size: 16px;
  flex-grow: 1;
  color: #fff;
  margin: 0;

}

.second2 {
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  color: #99a2aa;
  margin: 0;
}

.dsc {
  width: 165px;
  height: 105px;
  border-radius: 3%;
  margin-left: 10px;
  background-image: url(../image/fi.jpg);
  cursor: pointer;
}

.totull {
  display: flex;
  justify-content: space-between;
  width: 530px;
  height: 110px;
  margin-left: 10px;
}

.dsg {
  width: 165px;
  height: 105px;
  border-radius: 3%;
  margin-left: 10px;
  background-image: url(../image/4.jpg);
  cursor: pointer;
}

.dsh {
  width: 165px;
  height: 105px;
  border-radius: 3%;
  margin-left: 10px;
  background-image: url(../image/fh.png);
  cursor: pointer;
}

.dsj {
  width: 165px;
  height: 105px;
  border-radius: 3%;
  margin-left: 10px;
  background-image: url(../image/d.jpg);
  cursor: pointer;
}

.dp:hover~.contribute-container,
.contribute-container:hover {
  opacity: 1;
  transform: translateY(0);
}

.contribute-container {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: #fff;
  opacity: 0;
  transform: translateY(50%);
  transition: .3s ease-out;
  font-size: 12px;
  left: 950px;
  top: 41px;
}

.contribute-container li {
  cursor: pointer;
  transition: .3s;
  display: block;
  height: 100%;
  line-height: 80px;
  width: 52px;
  text-align: center;
}

.contribute-container li:hover {
  background-color: #eee;
}

.promote {
  width: 1000px;
  height: 42px;
  margin-top: 25px;
}

.promote-font {
  font-size: 25px;
  left: 214px;
  position: absolute;
  margin-top: 0px;
  font-family: 微软雅黑;

}

.promote-second {
  width: 260px;
  height: 35px;
  border-radius: 4%;
  display: flex;
  background-color: #e5e9ef;
  margin-left: 730px;
  position: absolute;
  text-align: center;
  padding: 10px;
  justify-content: space-between;
}

.promote-next {
  width: 1000px;
  height: 160px;
  display: flex;
  justify-content: space-between;
}

a.aaa {
  color: black;
  transition: 0.3s;
}

a.aaa:hover,
a.can:hover {
  color: rgb(44, 64, 243);
}

.promote-next-four {
  display: flex;
  justify-content: space-between;
  width: 730px;
  height: 150px;
  font-size: 10px;
  margin-top: 12px;
}


.f-one {
  width: 163px;
  height: 160px;
}

.f-two {
  width: 163px;
  height: 160px;
  margin-left: 10px;
}

.picture {
  border-radius: 4%;
}

.promote-next-one {
  margin-top: 10px;
  height: 13px;
}

.background-blur {
  filter: blur(4px);
  background-image: url(../image/fhx.png);
  background-repeat: no-repeat;
  background-size: 1308px 170px;
  position: absolute;
  width: 1308px;
  height: 42px;
}

.adv {
  widows: 1000px;
  height: 85px;
  margin-top: 20px;
  background-image: url(../image/future.jpg);
  background-size: 1000px;
}

.now {
  margin-top: 20px;
  display: flex;
}

.start {
  font-family: 微软雅黑;
  font-size: 25px;
  left: 50px;
  position: relative;
  margin-bottom: 0px;
}

a.start:hover {
  color: blue;
}

.have {
  position: absolute;
  margin-top: 20px;
  margin-bottom: 10px;
  left: 350px;
  font-size: 12px;
  color: gray;
}

.people {
  color: rgb(81, 46, 240);
}

.can {
  position: relative;
  left: 40px;
  color: #99a2aa;
}

.have-new:hover,
.have-more:hover {
  background-color: rgb(154, 168, 187);
  opacity: 0.7;
}

.have-new {
  position: absolute;
  margin-top: 13px;
  margin-bottom: 10px;
  left: 690px;
  width: 130px;
  height: 25px;
  border: solid 1px;
  border-radius: 8%;
  border-color: #99a2aa;
  text-align: center;
  box-shadow: #fff;
  cursor: pointer;

}

.have-more {
  position: absolute;
  margin-top: 13px;
  left: 840px;
  width: 50px;
  height: 25px;
  border: solid 1px;
  border-radius: 8%;
  border-color: #99a2aa;
  text-align: center;
  cursor: pointer;
}

.living {
  display: flex;
  justify-content: space-between;
  width: 210px;
  height: 25px;
  position: absolute;
  left: 920px;
  margin-top: 18px;
}

.living-next {
  cursor: pointer;
  font-size: 12px;
}

.living-next:hover {
  color: rgb(129, 101, 230);
}

.nowliving {

  width: 710px;
  height: 280px;
  margin-top: 30px;
}

.nowliving-first {
  display: flex;
  justify-content: space-between;
  width: 715px;
  height: 140px;
  font-size: 10px;

}

.nowliving-first-1 {
  width: 180px;
  height: 140px;
}

.-one:hover,
.-two:hover,
.-three:hover,
.-four:hover {
  color: rgb(141, 141, 219);
}

.pic1:hover .pic1-container,
.pic2:hover .pic1-container,
.pic3:hover .pic1-container,
.pic4:hover .pic1-container,
.pic11:hover .pic1-container,
.pic22:hover .pic1-container,
.pic33:hover .pic1-container,
.pic44:hover .pic1-container {
  opacity: 1;
}

.pic1-container {
  display: flex;
  opacity: 0;
  background-image: url(../image/four1.jpg);
  transition: .3s;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: white;
}

.pic1 {
  background-image: url(../image/six.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.pic2 {
  background-image: url(../image/seven.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
  cursor: pointer;

}

.pic3 {
  background-image: url(../image/eight.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.pic4 {
  background-image: url(../image/ten.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.pic11 {
  background-image: url(../image/one1.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.pic22 {
  background-image: url(../image/two2.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.pic33 {
  background-image: url(../image/three3.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.pic44 {
  background-image: url(../image/four1.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.nowliving-second {
  display: flex;
  justify-content: space-between;
}

.living-last {
  position: absolute;
  left: 900px;
  top: 840px;
  width: 260px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.living-last-1 {
  width: 260px;
  height: 40px;
  margin-bottom: 4px;
  display: flex;
}

.living-last-one {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: rgb(219, 75, 99);
  color: rgb(241, 222, 222);
  text-align: center;
  font-weight: bold;
}

.living-last-one-1 {
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: gray;
  color: rgb(241, 222, 222);
  text-align: center;
  font-weight: bold;
}

.living-last-two {

  position: relative;
  left: 65px;
  top: 0px;
  font-size: 12px;
  font-family: 微软雅黑;
  letter-spacing: 1px;
  cursor: pointer;
}

.living-last-two:hover {
  color: blue;
}

.living-last-three {
  position: relative;
  left: 12px;
  top: 10px;
  color: gray;
  font-size: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.living-last-four {
  position: relative;
  left: 50px;
  top: 0px;
  color: gray;
  font-size: 12px;
  cursor: pointer;
}

.cartoon {
  display: flex;
  margin-top: 20px;
}

.cartoon-header {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 1000px;
}


.cartoon-header-1 {
  font-family: 微软雅黑;
  font-size: 25px;
  position: relative;
  left: 60px;
  cursor: pointer;
}

.cartoon-header-2 {
  position: relative;
  left: 80px;
  top: 10px;
}

.cartoon-header-3 {
  position: relative;
  left: 100px;
  top: 10px;
}

.cartoon-header-1:hover,
a.cartoon-header-2:hover,
a.cartoon-header-3:hover {
  color: rgb(116, 116, 211);
}

.cartoon-header-4 {

  position: relative;
  border: solid 1px;
  width: 100px;
  height: 25px;
  left: 400px;
  margin-top: 13px;
  border-color: gray;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.cartoon-header-4:hover,
.cartoon-header-5:hover {
  background-color: #99a2aa;
}

.cartoon-header-5 {
  position: relative;
  left: 420px;
  width: 50px;
  height: 25px;
  border: solid 1px;
  border-color: gray;
  border-radius: 4px;
  margin-top: 13px;
  text-align: center;
  cursor: pointer;
}

.cartoon-header-6 {
  position: relative;
  left: 450px;
  font-size: 20px;
  margin-top: 10px;

}

.cartoon-header-7 {
  position: relative;
  left: 480px;
  font-size: 12px;
  margin-top: 18px;
  cursor: pointer;
}

.cartoon-header-8 {
  position: relative;
  left: 490px;
  font-size: 12px;
  margin-top: 18px;
  cursor: pointer;
}

.cartoon-header-9 {
  position: relative;
  left: 550px;
  margin-top: 16px;
}

.cartoon-content {
  width: 720px;
  height: 320;

}

.cartoon-content-1 {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 140px;
  margin-top: 10px;
}

.cartoon-content-1-1 {
  display: flex;
  background-image: url(../image/cartoon1.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;

}

.cartoon-content-shadow1 {

  width: 160px;
  height: 100px;

}

.shadow2 {
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: red;
  transform: .3s;


}

.cartoon-content-shadow1:hover .shadow2 {
  opacity: 1;
}

a.first {
  display: flex;
  margin-top: 90px;
  width: 140px;
  height: 20px;
}

.cartoon-content-1-2 {
  background-image: url(../image/cartoon2.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
}

a.second {
  display: flex;
  margin-top: 90px;
}

.cartoon-content-1-3 {
  background-image: url(../image/cartoon3.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
  display: flex;
}

a.third {
  display: flex;
  margin-top: 105px;
}

.cartoon-content-1-4 {
  background-image: url(../image/cartoon4.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
}

a.four4 {
  display: flex;
  margin-top: 90px;
}

.cartoon-content-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 700px;
  height: 140px;
}

.cartoon-content-2-1 {
  background-image: url(../image/f-four.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
}

.cartoon-content-2-2 {
  background-image: url(../image/eight.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
}



.cartoon-content-2-3 {
  background-image: url(../image/f-two.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
  display: flex;
}


.cartoon-content-2-4 {
  background-image: url(../image/f-three.jpg);
  width: 160px;
  height: 100px;
  border-radius: 4px;
}

a.first:hover,
a.second:hover,
a.third:hover,
a.four4:hover,
.cartoon-header-7:hover,
.cartoon-header-8:hover {
  color: blue;
}

.cartoon-header-8:hover~.header-8-container,
.header-8-container:hover {
  opacity: 1;

}

.header-8-container {

  transition: .3s;
  width: 260px;
  height: 310px;
  position: absolute;
  margin-top: 60px;
  margin-left: 750px;
}

.button-more {
  position: relative;
  width: 260px;
  height: 20px;
  left: 750px;
  margin-top: 0px;
  cursor: pointer;
}

.drama {
  position: relative;
  width: 1000px;
  height: 490px;
  margin-top: 20px;
}

.drama-header {
  display: flex;
  width: 1000px;
  height: 40px;

  align-items: center;
  flex-direction: row;
}

.drama-header1 {
  font-family: 微软雅黑;
  position: relative;
  left: 60px;
  font-size: 24px;

}

.drama-header2 {
  display: flex;
  margin-left: 200px;
  justify-content: space-between;
  width: 700px;
  font-size: 18px;
  margin-left: 100px;
  cursor: pointer;
  margin-top: 30px;
}

.drama-header1:hover,
.drama-header2-1:hover {
  color: blue;
}

.drama-header2-2 {
  width: 120px;
  height: 35px;
  color: palevioletred;
  border: solid 1px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
}

.drama-header2-2:hover {
  background-color: palevioletred;
  color: white;
}

.drama-header2-3 {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  margin: 0px;
}

.drama-header2-4 {
  position: relative;
  left: 140px;
}

.drama-content {
  display: flex;

  width: 1000px;
}

.drama-content-1 {
  width: 850px;
  height: 420px;
  margin-top: 15px;
  overflow: auto;
  display: flex;
  flex-direction: column;

}

.wyyyyyyy {
  width: 650px;
  height: 420px;
}

.drama-content-1_1 {
  width: 700px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.drama-a {
  width: 200px;
  height: 100px;
  display: flex;
}

.drama-a-1 {
  display: flex;
  background-image: url(../image/f-four.jpg);
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
  border-radius: 4px;
}

.drama-a-2 {
  margin-left: 20px;
  letter-spacing: 1px;
}

.drama-a-2-1 {

  width: 90px;
  height: 30px;
  position: relative;

  font-size: 12px;
  cursor: pointer;
}

.drama-a-2-1:hover {
  color: rgb(56, 56, 190);
}

.drama-a-3-1 {
  position: relative;
  margin-top: 30px;
  font-size: 12px;
  display: flex;
  color: gray;
}

.fourlive {
  background-color: palevioletred;
  color: white;
  width: 40px;
  height: 18px;
  text-align: center;
  border-radius: 9px;
}

.drama-content-2 {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 440px;
  position: relative;
  margin-top: 15px;
  margin-left: 55px;
}

.button-more-2 {
  width: 260px;
  cursor: pointer;

}

.living-next-a {
  font-family: 微软雅黑;
  font-size: 16px;
}

.drama-move {
  width: 330px;
  height: 280px;
  background-image: url(../image/drama-move.jpg);
  position: absolute;
  top: 2080px;
  left: 900px;
  background-size: 100% 100%;
  border-radius: 5px;

}