.music{
    margin-top:30px;
}








.now {
    margin-top: 10px;
    display: flex;
}

.start3 {
    font-family: 微软雅黑;
    font-size: 25px;
    left: 50px;
    position: relative;
    margin-bottom: 0px;
}

a.start:hover {
    color: blue;
}

.have {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 10px;
    left: 350px;
    font-size: 12px;
    color: gray;
}

.people {
    color: rgb(81, 46, 240);
}

.can {
    position: relative;
    left: 40px;
    color: #99a2aa;
}

.have-new:hover,
.have-more:hover {
    background-color: rgb(154, 168, 187);
    opacity: 0.7;
}

.have-new {
    position: absolute;
    margin-top: 13px;
    margin-bottom: 10px;
    left: 690px;
    width: 130px;
    height: 25px;
    border: solid 1px;
    border-radius: 8%;
    border-color: #99a2aa;
    text-align: center;
    box-shadow: #fff;
    cursor: pointer;

}

.have-more {
    position: absolute;
    margin-top: 13px;
    left: 840px;
    width: 50px;
    height: 25px;
    border: solid 1px;
    border-radius: 8%;
    border-color: #99a2aa;
    text-align: center;
    cursor: pointer;
}

.living {
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: 25px;
    position: absolute;
    left: 920px;
    margin-top: 15px;
}

.living-next3 {
    cursor: pointer;
    font-size: 18px;
}

.living-next1,
.living-next2 {
    cursor: pointer;
    font-size: 14px;
}

.living-next:hover,
.living-next1:hover,
.living-next2:hover {
    color: rgb(129, 101, 230);
}

.country-related-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 1000px;
}

.nowliving {

    width: 710px;
    height: 280px;

}

.nowliving-first {
    display: flex;
    justify-content: space-between;
    width: 715px;
    height: 140px;
    font-size: 10px;

}

.nowliving-first-1 {
    width: 180px;
    height: 140px;
}

.-one:hover,
.-two:hover,
.-three:hover,
.-four:hover {
    color: rgb(141, 141, 219);
}

.pic1:hover .pic1-container,
.pic2:hover .pic1-container,
.pic3:hover .pic1-container,
.pic4:hover .pic1-container,
.pic11:hover .pic1-container,
.pic22:hover .pic1-container,
.pic33:hover .pic1-container,
.pic44:hover .pic1-container {
    opacity: 1;
}

.pic1-container {
    display: flex;
    opacity: 0;
    background-image: url(../image/four1.jpg);
    transition: .3s;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: white;
}

.pic1 {
    background-image: url(../image/six.jpg);
    width: 160px;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.pic2 {
    background-image: url(../image/seven.jpg);
    width: 160px;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;

}

.pic3 {
    background-image: url(../image/eight.jpg);
    width: 160px;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.pic4 {
    background-image: url(../image/ten.jpg);
    width: 160px;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.pic11 {
    background-image: url(../image/one1.jpg);
    width: 160px;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.pic22 {
    background-image: url(../image/two2.jpg);
    width: 160px;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.pic33 {
    background-image: url(../image/three3.jpg);
    width: 160px;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.pic44 {
    background-image: url(../image/four1.jpg);
    width: 160px;
    height: 100px;
    border-radius: 4px;
    cursor: pointer;
}

.nowliving-second {
    display: flex;
    justify-content: space-between;

}

.country-related-content-2 {

    display: flex;
    flex-direction: column;
    margin-top: 15px;

}

.living-last-1 {
    width: 260px;
    height: 40px;
    margin-bottom: 4px;
    display: flex;
}

.living-last-one {
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background-color: rgb(219, 75, 99);
    color: rgb(241, 222, 222);
    text-align: center;
    font-weight: bold;
}

.living-last-one-1 {
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background-color: gray;
    color: rgb(241, 222, 222);
    text-align: center;
    font-weight: bold;
}

.living-last-two {

    position: relative;
    left: 65px;
    top: 0px;
    font-size: 12px;
    font-family: 微软雅黑;
    letter-spacing: 1px;
    cursor: pointer;
}

.living-last-two:hover {
    color: blue;
}

.living-last-three {
    position: relative;
    left: 12px;
    top: 10px;
    color: gray;
    font-size: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.living-last-four {
    position: relative;
    left: 50px;
    top: 0px;
    color: gray;
    font-size: 12px;
    cursor: pointer;
}