.container {
  display: flex;
  width: 1308px;
  height: 8012px;
  margin: 0px;
  flex-direction: column;
}


.header {
  display: flex;
  width: 1308px;
  height: 170px;
  flex-direction: column;
  background-image: url(fhx.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.key1 {
  display: flex;
  height: 42px;
  background-color: hsla(0, 0%, 100%, .4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  padding: 0 160px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.key1 .left,.key1 .right{
  display: flex;
  align-items: center;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: block;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  transition: .3s;
  cursor: pointer;
}

li a:hover {
  background-color: rgb(180, 200, 200);

}

.dp {
  background-color: palevioletred;
  border-radius: 10%;
}


.key2 {
  display: flex;
  height: 128px;
}

.ui {

  position: absolute;
  left: 800px;
  margin-top: 73px;
  height: 30px;
  width: 70px;
  border-radius: 9%;
  writing-mode: lr-tb;
  background-color: white;
  color: palevioletred;
  font-size: 15px;
  text-align: center;
  text-align-last: center;
}



.ug {
  position: absolute;
  left: 880px;
  margin-top: 73px;



}



.content {

  width: 1000px;
  height: 7700px;
  margin-left: 160px;
  margin-right: 160px;
}

a {

  color: black;
  text-decoration: none;
  font-size: 12px;
}

.sf {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.footer {

  width: 1308px;
  height: 172px;
  background-color: azure;

}

.fir {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 224px;
  margin-top: 15px;
}

.dsd {
  width: 443px;
  height: 224px;
  background-image: url(one.jpg);
  border-radius: 3%;


}

.er {
  display: flex;
  flex-direction: column;
}

.totul {
  display: flex;
  justify-content: space-between;
  width: 530px;
  height: 110px;
  margin-left: 10px;
}

.dsa {
  width: 165px;
  height: 105px;
  background-image: url(3.png);
  border-radius: 3%;
  margin-left: 10px;
}

.dsb {
  width: 165px;
  height: 105px;
  background-image: url(h.jpg);
  border-radius: 3%;
  margin-left: 10px;
}

.dsc {
  width: 165px;
  height: 105px;
  border-radius: 3%;
  margin-left: 10px;
  background-image: url(fi.jpg);
}

.totull {
  display: flex;
  justify-content: space-between;
  width: 530px;
  height: 110px;
  margin-left: 10px;
}

.dsg {
  width: 165px;
  height: 105px;
  border-radius: 3%;
  margin-left: 10px;
  background-image: url(4.jpg)
}

.dsh {
  width: 165px;
  height: 105px;
  border-radius: 3%;
  margin-left: 10px;
  background-image: url(fh.png)
}

.dsj {
  width: 165px;
  height: 105px;
  border-radius: 3%;
  margin-left: 10px;
  background-image: url(d.jpg)
}

.dp:hover~.contribute-container,
.contribute-container:hover {
  opacity: 1;
  transform: translateY(0);
}

.contribute-container {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  background-color: #fff;
  opacity: 0;
  transform: translateY(50%);
  transition: .3s ease-out;
  font-size: 12px;
  left: 950px;
  top: 41px;
}

.contribute-container li {
  cursor: pointer;
  transition: .3s;
  display: block;
  height: 100%;
  line-height: 80px;
  width: 52px;
  text-align: center;
}

.contribute-container li:hover {
  background-color: #eee;
}

.promote {
  width: 1000px;
  height: 42px;
  margin-top: 25px;
}

.promote-font {
  font-size: 25px;
  left: 214px;
  position: absolute;
  margin-top: 0px;

}

.promote-second {
  width: 260px;
  height: 35px;
  border-radius: 4%;
  display: flex;
  background-color: #e5e9ef;
  margin-left: 730px;
  position: absolute;
  text-align: center;
  padding: 10px;
  justify-content: space-between;
}

.promote-next {
  width: 1000px;
  height: 160px;
  display: flex;
  justify-content: space-between;
}

a.aaa {
  color: black;
  transition: 0.3s;
}

a.aaa:hover {
  color: rgb(44, 64, 243);
}

.promote-next-four {
  display: flex;
  justify-content: space-between;
  width: 730px;
  height: 150px;
  font-size: 10px;
  margin-top: 12px;
}


.f-one {
  width: 163px;
  height: 160px;
}

.f-two {
  width: 163px;
  height: 160px;
  margin-left: 10px;
}

.picture {
  border-radius: 4%;
}

.promote-next-one {
  margin-top: 10px;
  height: 13px;
}

.background-blur {
  filter: blur(4px);
  background-image: url(./fhx.png);
  background-repeat: no-repeat;
  background-size: 1308px 170px;
  position: absolute;
  width: 1308px;
  height: 42px;
}

.adv {
  widows: 1000px;
  height:85px;
  margin-top: 20px;
  background-image: url(future.jpg);
  background-size: 1000px ;
}
.now{
  margin-top:20px;
  display:flex;
}
.start{
  font-family: 微软雅黑;
  font-size:25px;
  left:50px;
  position: relative;
  margin-bottom:0px;
}
a.start:hover{
  color:blue;
}
.have{
  position: absolute;
  margin-top:20px;
  margin-bottom:10px;
  left:350px;
  font-size: 12px;
}
.people{
  color:rgb(81, 46, 240);
}